<template>
  <section class="c-contact-sect">
    <div class="container">
      <div class="c-contact">
        <figure class="c-contact__wrap c-contact__wrap_left">
          <img src="@/assets/img/ill/contact-ill.svg" alt="Contact illustration">
        </figure>
        <div class="c-contact__wrap c-contact__wrap_right">
          <h2 class="c-contact__title">
            Speel mee!
          </h2>
          <p class="c-contact__text">
            Het spel wordt binnenkort gelanceerd. Meld je aan om het spel als eerste twee maanden gratis te spelen. Onder de eerste aanmelders geeft Opklopper 10x een bol.com waardebon van 50 euro weg.
          </p>
          <form class="c-contact__form">
            <div class="c-contact__wrap-inputs">
              <div class="c-contact__wrap-input">
                <input type="text" class="c-contact__input" placeholder="Vul uw naam in">
              </div>
              <div class="c-contact__wrap-input">
                <input type="email" class="c-contact__input" placeholder="Vul uw e-mail in*">
              </div>
            </div>
            <button class="c-contact__btn">
              <span>
                Inschrijven
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
      name: "LP-Contact"
  }
</script>

<style lang="scss">
.c-contact {
  @extend %df;
  @extend %jcsb;
  &-sect {
    padding-top: 125px;
    padding-bottom: 124px;
  }
  &__wrap {
    &_left {
      margin-left: -27px;
    }
    &_right {
      padding-top: 83px;
    }
  }
  &__title {
    @extend  %lp-h2-title;
    color: $black;
  }
  &__text {
    @extend %h4-semi;
    color: $black;
    margin-top: 30px;
    padding-right: 70px;
    margin-bottom: 34px;
  }
  &__form {
    max-width: 466px;
    margin-left: -10px;
  }
  &__wrap-input {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  &__input {
    @extend %input-reset;
    @extend %body-text-1;
    width: 100%;
    height: 54px;
    background-color: $simple_bg;
    border-radius: 30px;
    padding-left: 24px;
    color: $black;
  }
  &__btn {
    @extend %base-btn;
  }
}
@include bp(1150px) {
  .c-contact {
    position: relative;
    &-sect {
      padding-top: 29px;
      padding-bottom: 324px;
    }
    &__wrap {
      &_left {
        width: 443.81px;
        height: 443.81px;
        margin-left: -69px;
      }
      &_right {
        padding-top: 90px;
        margin-left: -6px;
      }
    }
    &__text {
      padding-right: 10px;
    }
    &__form {
      position: absolute;
      bottom: -180px;
      transform: translateX(-50%);
      max-width: 100%;
      width: 592px;
    }
    &__btn {
      margin: 0 auto;
    }
  }
}
@include bp(766px) {
  .c-contact {
    flex-direction: column;
    &-sect {
      padding-top: 124px;
      padding-bottom: 140px;
    }
    &__wrap {
      &_left {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
      &_right {
        padding-top: 98px;
        padding-left: 6px;
      }
    }
    &__form {
      position: relative;
      transform: none;
      width: 100%;
      margin-left: 0;
      bottom: auto;
    }
  }
}
</style>