<template>
  <footer class="c-footer">
    <div class="container">
      <div class="c-footer__wrap c-footer__wrap_top">
        <div class="c-footer__text">
          Doorgescrold en nog niet gevonden wat je zoekt?<br>
          Misschien kunnen we je hiermee helpen:
        </div>
        <ul class="c-footer__menu">
          <li class="c-footer__menu-itm">
            <a href="#" class="c-footer__menu-link">
              Home
            </a>
          </li>
          <li class="c-footer__menu-itm">
            <a href="#" class="c-footer__menu-link">
              Over Ons
            </a>
          </li>
          <li class="c-footer__menu-itm">
            <a href="#" class="c-footer__menu-link">
              Services
            </a>
          </li>
          <li class="c-footer__menu-itm">
            <a href="#" class="c-footer__menu-link">
              Portfolio
            </a>
          </li>
          <li class="c-footer__menu-itm">
            <a href="#" class="c-footer__menu-link">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="c-footer__wrap c-footer__wrap_bot">
        <div class="c-footer__copy">
          Copyright © 2019 Opklopper. All rights reserved.
        </div>
        <div class="c-footer__follow">
          <div class="c-footer__follow-text">
            Follow Us
          </div>
          <ul class="c-footer__social-links">
            <li class="c-footer__social-itm">
              <a href="#" class="c-footer__social-link">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.74185 19.9995V6.50509H0.263943V19.9995H4.74232H4.74185ZM2.50383 4.66297C4.06505 4.66297 5.03701 3.62675 5.03701 2.33178C5.00778 1.00729 4.06505 0 2.53352 0C1.00095 0 0 1.00729 0 2.33166C0 3.62663 0.971609 4.66285 2.47449 4.66285H2.50348L2.50383 4.66297ZM7.22044 19.9995H11.698V12.4644C11.698 12.0617 11.7272 11.6578 11.8455 11.3701C12.1691 10.564 12.9058 9.72953 14.1432 9.72953C15.763 9.72953 16.4114 10.9669 16.4114 12.7812V19.9995H20.8889V12.2622C20.8889 8.11749 18.6801 6.18872 15.7341 6.18872C13.3187 6.18872 12.2579 7.54095 11.6685 8.46195H11.6983V6.50556H7.22067C7.27912 7.77149 7.22032 20 7.22032 20L7.22044 19.9995Z" fill="#FCF5F3" fill-opacity="0.3"/>
                </svg>
              </a>
            </li>
            <li class="c-footer__social-itm">
              <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.54284 6.5533V4.83003C7.54284 4.57133 7.55561 4.37095 7.58156 4.2294C7.60742 4.08764 7.66625 3.94822 7.75755 3.81058C7.84872 3.67303 7.99634 3.57807 8.2002 3.52544C8.40433 3.47274 8.67559 3.44647 9.01426 3.44647H10.8631V0H7.90741C6.19721 0 4.96892 0.378185 4.22236 1.13455C3.47589 1.89109 3.1027 3.00546 3.1027 4.47807V6.55326H0.888916V9.99998H3.10256V20H7.5428V10H10.4983L10.8889 6.5533H7.54284Z" fill="#FCF5F3" fill-opacity="0.3"/>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
      name: "LP-Footer"
  }
</script>

<style lang="scss">
.c-footer {
  padding-top: 80px;
  padding-bottom: 23px;
  background-color: $black;
  &__wrap {
    &_top {
      @extend %df;
      @extend %jcsb;
      align-items: flex-end;
    }
    &_bot {
      @extend %df;
      @extend %jcsb;
      align-items: flex-end;
      padding-top: 69px;
    }
  }
  &__menu {
    @extend %df;
  }
  &__menu-itm {
    margin-right: 37px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__menu-link {
    @extend %body-text-2;
    color: $white;
  }
  &__text {
    @extend %body-text-2;
    color: $white;
  }
  &__copy {
    @extend %body-text-3-regular;
    color: $white;
    opacity: .5;
  }
  &__follow {
    @extend %df;
    align-items: flex-end;
    &-text {
      @extend %body-text-3-regular;
      color: $white;
      opacity: .5;
      margin-right: 40px;
    }
  }
  &__social-links {
    @extend %df;
  }
  &__social-itm {
    margin-right: 31px;
    &:last-child {
      margin-right: 0;
    }
  }
}
@include bp(1150px) {
  .c-footer {
    &__wrap {
      &_top {
        align-items: flex-start;
      }
      &_bot {
        padding-top: 33px;
      }
    }
    &__text {
      max-width: 230px;
    }
  }
}
@include bp(766px) {
  .c-footer {
    padding-top: 85px;
    &__wrap {
      &_top, &_bot {
        flex-direction: column;
        align-items: center;
      }
      &_bot {
        padding-top: 37px;
      }
    }
    &__text {
      text-align: center;
      margin-bottom: 37px;
    }
    &__menu {
      flex-direction: column;
      &-itm {
        margin-right: 0;
        margin-bottom: 14px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-link {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    &__follow {
      order: -1;
      &-text {
        display: none;
      }
    }
    &__copy {
      margin: 0 auto;
      max-width: 200px;
      padding-top: 31px;
      text-align: center;
    }
  }
}
</style>