<template>
  <header class="c-header-sect">
    <div class="container">
      <div class="c-header">
        <figure class="c-header__wrap c-header__wrap_left">
          <img src="@/assets/img/ill/header-ill.svg" alt="Header illustration">
        </figure>
        <div class="c-header__wrap c-header__wrap_right">
          <h1 class="c-header__title">
            Speel het gratis<br>
            online marketing spel
          </h1>
          <p class="c-header__text">
            Meer verkeer, meer klanten en wie wint krijgt prijzen
          </p>
          <form class="c-header__form">
            <div class="c-header__wrap-input">
              <input type="text" class="c-header__input" placeholder="Vul uw e-mail in">
              <button class="c-header__btn">
                <span>
                  Inschrijven
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
      name: "LP-Header"
  }
</script>

<style lang="scss">
.c-header {
  @extend %df;
  @extend %jcsb;
  &-sect {
    padding-top: 133px;
  }
  &__wrap {
    &_left {
      margin-left: -110px;
      width: 624px;
      height: 640px;
    }
    &_right {
      padding-top: rem(172);
      max-width: rem(538);
    }
  }
  &__title {
    @extend %lp-h1-title;
    color: $black;
  }
  &__text {
    @extend %h2-semi-small;
    color: $black;
    margin-top: 28px;
    margin-bottom: 36px;
    max-width: 330px;
  }
  &__form {
    background-color: $simple_bg;
    padding: 3px;
    max-width: 454px;
    border-radius: 30px;
  }
  &__wrap-input {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    height: 48px;
  }
  &__input {
    width: 258px;
    height: 100%;
    padding-left: 21px;
    @extend %input-reset;
    @extend %body-text-1;
    color: $black;
  }
  &__btn {
    @extend %base-btn;
  }
}
@include bp(1150px) {
  // LP Tablet H1-Bold-48-105%
  %lp-h1-tablet {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: rem(48);
    line-height: rem(50);
  }
  .c-header {
    position: relative;
    &__wrap {
      &_left {
        width: 393.75px;
        height: 403.2px;
        margin-left: -42px;
        margin-top: 26px;
      }
      &_right {
        padding-top: 89px;
        max-width: 342px;
      }
    }
    &__title {
      @extend %lp-h1-tablet;
      text-align: center;
      br {
        display: none;
      }
    }
    &__text {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
    &__form {
      position: absolute;
      left: 50%;
      bottom: -167px;
      transform: translateX(-50%);
      max-width: 100%;
      width: 583px;
    }
  }
}
@include bp(766px) {
  .c-header {
    flex-direction: column;
    &-sect {
      padding-top: 197px;
    }
    &__wrap {
      &_left {
        width: 100%;
        height: auto;
        margin-top: 243px;
        margin-left: 0;
      }
      &_right {
        padding-top: 0;
        order: -1;
      }
    }
    &__title {
      text-align: left;
    }
    &__text {
      text-align: left;
      margin-top: 30px;
    }
    &__form {
      width: 100%;
      background-color: transparent;
      border-radius: 0;
      height: auto;
      padding: 0;
      bottom: auto;
      z-index: 10;
    }
    &__wrap-input {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
    &__input {
      width: 100%;
      height: 54px;
      background-color: $simple_bg;
      border-radius: 30px;
      margin-bottom: 20px;
    }
  }
}
</style>