<template>
  <section class="c-how-it-work-sect">
    <div class="container">
      <div class="c-how-it-work">
        <h2 class="c-how-it-work__title">
          Hoe het werkt
        </h2>
        <div class="c-how-it-work__wrapper">
          <div class="c-how-it-work__item c-how-it-work__item_1">
            <figure class="c-how-it-work__img">
              <img src="@/assets/img/ill/way-1.svg" alt="Alt">
            </figure>
            <p class="c-how-it-work__text">
              Wij scannen je website, social media en nieuwsbrief en geven
              op maat gemaakte tips
            </p>
            <div class="c-how-it-work__number">
              <span>
                01
              </span>
            </div>
          </div>
          <div class="c-how-it-work__item c-how-it-work__item_2">
            <figure class="c-how-it-work__img">
              <img src="@/assets/img/ill/way-2.svg" alt="Alt">
            </figure>
            <p class="c-how-it-work__text">
              Voltooi korte opdrachten<br>
              om jouw online marketing<br>
              te versterken
            </p>
            <div class="c-how-it-work__number">
              <span>
                02
              </span>
            </div>
          </div>
          <div class="c-how-it-work__item c-how-it-work__item_3">
            <figure class="c-how-it-work__img">
              <img src="@/assets/img/ill/way-3.svg" alt="Alt">
            </figure>
            <p class="c-how-it-work__text">
              We controleren je werk<br>
              en geven  aan of<br>
              het goed gegaan is
            </p>
            <div class="c-how-it-work__number">
              <span>
                03
              </span>
            </div>
          </div>
          <div class="c-how-it-work__item c-how-it-work__item_4">
            <figure class="c-how-it-work__img">
              <img src="@/assets/img/ill/way-4.svg" alt="Alt">
            </figure>
            <p class="c-how-it-work__text">
              Spaar punten, verzamel trofeeën en strijd tegen anderen voor felbegeerde prijzen
            </p>
            <div class="c-how-it-work__number">
              <span>
                04
              </span>
            </div>
          </div>
          <div class="c-how-it-work__item c-how-it-work__item_5">
            <figure class="c-how-it-work__img">
              <img src="@/assets/img/ill/way-5.svg" alt="Alt">
            </figure>
            <p class="c-how-it-work__text">
              Hulp nodig?<br>
              De community met<br>
              experts staan voor je klaar!
            </p>
            <div class="c-how-it-work__number">
              <span>
                05
              </span>
            </div>
          </div>
          <div class="c-how-it-work__item c-how-it-work__item_6">
            <figure class="c-how-it-work__img">
              <img src="@/assets/img/ill/way-6.svg" alt="Alt">
            </figure>
            <p class="c-how-it-work__text">
              Er zijn geen verliezers:<br> door te spelen krijg je<br> meer bezoekers en klanten
            </p>
            <div class="c-how-it-work__number">
              <span>
                06
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
      name: "LP-How-It-work"
  }
</script>

<style lang="scss">
.c-how-it-work {
  &-sect {
    padding-top: 91px;
  }
  &__title {
    @extend %lp-h2-title;
    color: $black;
    text-align: center;
  }
  &__text {
    @extend %h4-semi;
    color: $black;
  }
  &__number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-49%) translateX(-48%);
    @extend %btn-semi;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    color: $black;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $white;
  }
  &__item {
    position: relative;
    &_1 {
      .c-how-it-work {
        &__img {
          margin-top: -45px;
          margin-left: -24px;
        }
        &__text {
          max-width: 330px;
          text-align: right;
          margin-left: 117px;
          margin-top: 15px;
        }
      }
    }
    &_2 {
      .c-how-it-work {
        &__img {
          margin-top: -184px;
          margin-right: -19px;
          img {
            display: block;
            margin-left: auto;
          }
        }
        &__text {
          max-width: 443px;
          margin-left: auto;
          margin-top: 33px;
        }
      }
    }
    &_3 {
      .c-how-it-work {
        &__img {
          margin-top: -187px;
          margin-left: -8px;
        }
        &__text {
          margin-left: 40px;
          text-align: right;
          max-width: 407px;
          margin-top: 31px;
        }
      }
    }
    &_4 {
      .c-how-it-work {
        &__img {
          margin-top: -196px;
          margin-right: -31px;
          img {
            display: block;
            margin-left: auto;
          }
        }
        &__text {
          margin-left: auto;
          max-width: 442px;
          margin-top: 23px;
          padding-right: 100px;
        }
      }
    }
    &_5 {
      .c-how-it-work {
        &__img {
          margin-top: -199px;
          margin-left: -35px;
        }
        &__text {
          text-align: right;
          max-width: 280px;
          margin-left: 167px;
        }
      }
    }
    &_6 {
      .c-how-it-work {
        &__img {
          margin-top: -188px;
          margin-right: -14px;
          img {
            display: block;
            margin-left: auto;
          }
        }
        &__text {
          margin-left: auto;
          max-width: 442px;
          margin-top: 31px;
          padding-right: 160px;
        }
      }
    }
  }
}
@include bp(1150px) {
  .c-how-it-work {
    &-sect {
      padding-top: 146px;
    }
    &__item {
      &_1 {
        .c-how-it-work {
          &__img {
            margin-top: 7px;
            margin-left: -18px;
            img {
              width: 284.9px;
              height: 284.9px;
            }
          }
          &__text {
            max-width: 280px;
            margin-left: -3px;
            margin-top: 25px;
          }
        }
      }
      &_2 {
        .c-how-it-work {
          &__img {
            margin-top: -99px;
            margin-right: -18px;
            img {
              width: 279.3px;
              height: 279.3px;
            }
          }
          &__text {
            max-width: 277px;
            margin-top: 41px;
          }
        }
      }
      &_3 {
        .c-how-it-work {
          &__img {
            margin-top: -74px;
            margin-left: -2px;
            img {
              width: 277.9px;
              height: 277.9px;
            }
          }
          &__text {
            max-width: 237px;
            margin-top: 34px;
          }
        }
      }
      &_4 {
        .c-how-it-work {
          &__img {
            margin-top: -81px;
            margin-right: -21px;
            img {
              width: 299.6px;
              height: 299.6px;
            }
          }
          &__text {
            max-width: 277px;
            margin-top: 30px;
            padding-right: 20px;
          }
        }
      }
      &_5 {
        .c-how-it-work {
          &__img {
            margin-top: -105px;
            margin-left: -29px;
            img {
              width: 302.4px;
              height: 302.4px;
            }
          }
          &__text {
            max-width: 280px;
            margin-left: -2px;
            margin-top: 14px;
          }
        }
      }
      &_6 {
        .c-how-it-work {
          &__img {
            margin-top: -71px;
            margin-right: -13px;
            img {
              width: 280px;
              height: 280px;
            }
          }
          &__text {
            max-width: 277px;
            margin-top: 35px;
            padding-right: 50px;
          }
        }
      }
    }
    &__number {
      transform: translateY(25%) translateX(-48%);
    }
  }
}
@include bp(766px) {
  .c-how-it-work {
    &-sect {
      padding-top: 162px;
    }
    &__number {
      left: 0;
      top: -25px;
      transform: none;
      border: 2px solid $simple_bg;
    }
    &__item {
      &_1 {
        .c-how-it-work {
          &__img {
            margin-top: 120px;
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
          &__text {
            max-width: 290px;
            margin-right: 0;
            margin-left: 0;
            margin-top: 3px;
            padding-left: 14px;
            text-align: left;
          }
        }
      }
      &_2 {
        .c-how-it-work {
          &__img {
            margin-top: 121px;
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
          &__text {
            max-width: 277px;
            margin-top: 14px;
          }
          &__number {
            left: auto;
            right: 0;
          }
        }
      }
      &_3 {
        .c-how-it-work {
          &__img {
            margin-top: 128px;
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
          &__text {
            text-align: left;
            margin-left: 15px;
            margin-top: 7px;
          }
        }
      }
      &_4 {
        .c-how-it-work {
          &__number {
            left: auto;
            right: 0;
          }
          &__img {
            margin-top: 128px;
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
          &__text {
            margin-left: 22px;
            margin-top: 17px;
            padding-right: 0;
          }
        }
      }
      &_5 {
        .c-how-it-work {
          &__img {
            margin-top: 115px;
            width: 100%;
            margin-left: 0;
            img {
              width: 100%;
              height: auto;
            }
          }
          &__text {
            text-align: left;
            margin-left: 14px;
            margin-top: 8px;
          }
        }
      }
      &_6 {
        .c-how-it-work {
          &__number {
            left: auto;
            right: 0;
          }
          &__img {
            margin-top: 115px;
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
          &__text {
            margin-top: 15px;
            padding-right: 16px;
          }
        }
      }
    }
  }
}
</style>