<template>
  <div class="c-modal-sect">
    <button class="c-modal__close">
      <span></span>
      <span></span>
    </button>
    <div class="container">
      <div class="c-modal">
        <figure class="c-modal__wrap c-modal__wrap_left">
          <img src="@/assets/img/success-ill.svg" alt="Illustration">
        </figure>
        <div class="c-modal__wrap c-modal__wrap_right">
          <h2 class="c-modal__title">
            You are <span>#44</span><br>
            on the waiting list!<br>
            Want early access?
          </h2>
          <p class="c-modal__text">
            1. Refer 5 friends and move up the list!<br>
            2. Opklopper T-shirt to the top 200 positions<br>
            3. Free lifetime access to the top 50 positions
          </p>
          <h3 class="c-modal__subtitle">
            Get 5 friends to sign up with this unique URL
          </h3>
          <div class="c-modal__copy-link">
            <div class="c-modal__link c-copy">
              www.opklopper.nl/wg9wm
            </div>
            <button class="c-modal__btn">
              <span>
                Copy
              </span>
              <i>
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6 11.4H15.4C15.8243 11.4 16.2313 11.2314 16.5314 10.9314C16.8314 10.6313 17 10.2243 17 9.8V2.6C17 2.17565 16.8314 1.76869 16.5314 1.46863C16.2313 1.16857 15.8243 1 15.4 1H8.2C7.77565 1 7.36869 1.16857 7.06863 1.46863C6.76857 1.76869 6.6 2.17565 6.6 2.6V3.4M9.8 6.6H2.6C1.71634 6.6 1 7.31634 1 8.2V15.4C1 16.2837 1.71634 17 2.6 17H9.8C10.6837 17 11.4 16.2837 11.4 15.4V8.2C11.4 7.31634 10.6837 6.6 9.8 6.6Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </i>
            </button>
          </div>
          <ul class="c-modal__social">
            <li class="c-modal__social-item">
              <a href="#" class="c-modal__social-link">
                <figure class="c-modal__social-icon">
                  <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.73996 20V10.8919H9.81266L10.2694 7.32577H6.73996V5.0543C6.73996 4.02525 7.02667 3.32069 8.50357 3.32069H10.375V0.1413C9.46483 0.043507 8.54913 -0.00316721 7.63343 0.000166652C4.91745 0.000166652 3.05271 1.65821 3.05271 4.70202V7.3191H0V10.8852H3.05937V20H6.73996Z" fill="black"/>
                  </svg>
                </figure>
              </a>
            </li>
            <li class="c-modal__social-item">
              <a href="#" class="c-modal__social-link">
                <figure class="c-modal__social-icon">
                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.40784 4.81567C3.73765 4.81567 4.81567 3.73765 4.81567 2.40784C4.81567 1.07802 3.73765 0 2.40784 0C1.07802 0 0 1.07802 0 2.40784C0 3.73765 1.07802 4.81567 2.40784 4.81567Z" fill="black"/>
                    <path d="M7.08925 6.64025V19.9989H11.2369V13.3928C11.2369 11.6496 11.5649 9.96148 13.7262 9.96148C15.8578 9.96148 15.8842 11.9544 15.8842 13.5028V20H20.0341V12.6741C20.0341 9.0756 19.2594 6.31011 15.0534 6.31011C13.034 6.31011 11.6804 7.41829 11.1269 8.46704H11.0708V6.64025H7.08925ZM0.330142 6.64025H4.48443V19.9989H0.330142V6.64025Z" fill="black"/>
                  </svg>
                </figure>
              </a>
            </li>
            <li class="c-modal__social-item">
              <a href="#" class="c-modal__social-link">
                <figure class="c-modal__social-icon">
                  <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.8843 4.4859C19.899 4.68325 19.899 4.87946 19.899 5.07568C19.899 11.0806 15.3285 18 6.97582 18C4.40246 18 2.01178 17.2546 0 15.96C0.365368 16.0018 0.717203 16.0164 1.09723 16.0164C3.22065 16.0164 5.17491 15.2992 6.73675 14.0757C4.73963 14.034 3.06616 12.7258 2.48879 10.9261C2.76958 10.9678 3.0515 10.996 3.34695 10.996C3.75404 10.996 4.16339 10.9396 4.54342 10.8415C2.46059 10.4197 0.901015 8.59178 0.901015 6.38379V6.3274C1.50658 6.66458 2.20912 6.87545 2.95339 6.90365C1.72986 6.08946 0.928079 4.69678 0.928079 3.12141C0.928079 2.27791 1.15249 1.50432 1.54605 0.829971C3.78223 3.58489 7.14384 5.38579 10.9125 5.58313C10.8426 5.24483 10.7998 4.89412 10.7998 4.54229C10.7998 2.03884 12.8251 0 15.3421 0C16.6502 0 17.8308 0.548051 18.6608 1.43441C19.687 1.23706 20.6703 0.857035 21.5432 0.337176C21.206 1.39155 20.4877 2.27791 19.546 2.84062C20.4606 2.74139 21.3469 2.48879 22.1611 2.13695C21.5432 3.03684 20.7707 3.83862 19.8843 4.4859Z" fill="black"/>
                  </svg>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "LP-Modal-success"
    }
</script>

<style lang="scss">
  .c-modal {
    @extend %df;
    @extend %jcsb;
    position: relative;
    z-index: 3;
    padding-top: 125px;

    &-sect {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba($white, .6);
      &:before {
        position: fixed;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %bg-reset;
        background-image: url($img_dir + 'bg.svg');
      }
    }
    &__wrap {
      &_left {
        margin-left: -74px;
        margin-top: 58px;
      }
      &_right {
        max-width: 509px;
      }
    }
    &__title {
      @extend %lp-h2-title;
      color: $black;
    }
    &__text {
      @extend %h2-semi-small;
      color: $black;
      margin-top: 24px;
      margin-bottom: 45px;
    }
    &__subtitle {
      @extend %h3-bold;
      color: $black;
      padding-right: 40px;
      margin-bottom: 23px;
    }
    &__copy-link {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
      width: 440px;
      height: 54px;
      padding: 3px 4px 3px 24px;
      background-color: $white;
      border-radius: 30px;
    }
    &__link {
      @extend %body-text-2;
      color: $black_06;
    }
    &__btn {
      @extend %base-btn;
      width: 187px;
      i {
        display: none;
      }
    }
    &__social {
      @extend %df;
      margin-top: 26px;
      &-item {
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
      }
      &-link {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 48px;
        height: 48px;
        background-color: $white;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: all .5s ease;
        &:hover {
          border-color: $white;
          background-color: transparent;
        }
      }
    }
  }
</style>