<template>
  <nav class="c-navigation">
    <div class="container">
      <div class="c-nav">
        <a href="#" class="c-nav__logo">
          <img src="@/assets/logo.svg" alt="Logotype">
        </a>
        <button class="c-nav__btn">
          <span>Inschrijven</span>
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
  // assets
  export default {
      name: "LP-Navigation"
  }
</script>

<style lang="scss">
  .c-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 21px;
    z-index: 5;
  }
  .c-nav {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    &__logo {
      padding-top: 1px;
    }
    &__btn {
      @extend %base-btn;
    }
  }
  @include bp(766px) {
    .c-nav__btn {
      display: none;
    }
  }
</style>