<template>
  <section class="c-over-sect">
    <div class="container">
      <div class="c-over">
        <div class="c-over__wrap c-over__wrap_left">
          <h2 class="c-over__title">
            Over
          </h2>
          <div class="c-over__wrap-text">
            <p class="c-over__text">
              Je website verbeteren om meer verkeer en klanten te krijgen via zoekmachines, kan een saai, repetitief en traag proces zijn. Elke dag weer een post bedenken voor social media kan soms als een saai klusje voelen.
            </p>
            <p class="c-over__text">
              Wij maken het leuker door het eerste online marketing spel ter wereld uit te brengen.
            </p>
          </div>
        </div>
        <figure class="c-over__wrap c-over__wrap_right">
          <img src="@/assets/img/ill/over-ill.svg" alt="Over illustration section">
        </figure>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "LP-Over-Sect"
    }
</script>

<style lang="scss">
.c-over {
  @extend %df;
  @extend %jcsb;
  &-sect {
    padding-top: 29px;
  }
  &__wrap {
    &_left {
      padding-top: 186px;
      padding-left: 2px;
    }
    &_right {
      margin-right: -38px;
    }
  }
  &__title {
    @extend %lp-h2-title;
    color: $black;
    margin-bottom: 29px;
  }
  &__wrap-text {
    max-width: 480px;
  }
  &__text {
    @extend %h4-semi;
    color: $black;
    margin-bottom: 27px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include bp(1150px) {
  .c-over {
    &-sect {
      padding-top: 307px;
    }
    &__wrap {
      &_right {
        width: 374.12px;
        height: 377.9px;
        margin-right: -28px;
      }
      &_left {
        padding-top: 8px;
      }
      &-text {
        max-width: 358px;
      }
    }
  }
}
@include bp(766px) {
  .c-over {
    flex-direction: column;
    &-sect {
      padding-top: 195px;
    }
    &__wrap {
      &_left {
        padding: 0;
      }
      &_right {
        margin-left: 0;
        width: 100%;
        height: auto;
        margin-top: 45px;
      }
    }
    &__title {
      margin-bottom: 31px;
    }
  }
}
</style>