// ================ Circe-Bold ================
@include font_face(Gilroy-Bold, Gilroy-Bold);

%bold {
    font-family: 'Gilroy-Bold', sans-serif;
}

// ################ Circe-Bold ################

// ================ Gilroy-Medium ================
@include font_face(Gilroy-Medium, Gilroy-Medium);

%medium {
    font-family: 'Gilroy-Medium', sans-serif;
}

// ################ Gilroy-Medium ################

// ================ Gilroy-Regular ==============
@include font_face(Gilroy-Regular, Gilroy-Regular);

%regular {
    font-family: 'Gilroy-Regular', sans-serif;
}
// ################### Gilroy-Regular ###################

// ================ Gilroy-SemiBold ==============
@include font_face(Gilroy-SemiBold, Gilroy-SemiBold);

%semibold {
    font-family: 'Gilroy-SemiBold', sans-serif;
}
// ################### Gilroy-SemiBold ###################

// LP H1 Bold-54-105%
%lp-h1-title {
    @extend %bold;
    font-size: rem(54);
    line-height: rem(57);
}

// LP H2 Bold-40-110%
%lp-h2-title {
    @extend %bold;
    font-size: rem(40);
    line-height: rem(44);
}

// H1 Forms Bold-36-110%
%form-h1-title {
    @extend %bold;
    font-size: rem(36);
    line-height: rem(40);
}

// H1 Semi-36-110%
%h1-semi {
    @extend %semibold;
    font-size: rem(36);
    line-height: rem(40);
}

// H2 Semi-30-130%
%h2-semi-med {
    @extend %semibold;
    font-size: rem(30);
    line-height: rem(39);
}

// H3 Semi-24-130%
%h2-semi-small {
    @extend %semibold;
    font-size: rem(24);
    line-height: rem(31);
}

%h3-bold {
    @extend %bold;
    font-size: rem(32);
    line-height: rem(42);
}
// H3 Med-24-130%
%h3-medium {
    @extend %medium;
    font-size: rem(24);
    line-height: rem(31);
}

// H4 Semi-21-130%
%h4-semi {
    @extend %semibold;
    font-size: rem(21);
    line-height: rem(27);
}

// H4 Med-21-130%
%h4-med {
    @extend %medium;
    font-size: rem(21);
    line-height: rem(27);
}

// Button Semi-18-130%
%btn-semi {
    @extend %semibold;
    font-size: rem(18);
    line-height: rem(25);
}

// Body1 Med-18-140%
%body-text-1 {
    @extend %medium;
    font-size: rem(18);
    line-height: rem(25);
}

// Menu Semi-16-145%
%menu-semi {
    @extend %semibold;
    font-size: rem(16);
    line-height: rem(23);
}

// Body2 Med-16-145%
%body-text-2 {
    @extend %medium;
    font-size: rem(16);
    line-height: rem(23);
}

// Menu Reg-16-145%
%menu-regular {
    @extend %regular;
    font-size: rem(16);
    line-height: rem(23);
}

// Body3 Med-14-150%
%body-text-3 {
    @extend %medium;
    font-size: rem(14);
    line-height: rem(21);
}

// Body3 Reg-14-150%
%body-text-3-regular {
    @extend %regular;
    font-size: rem(14);
    line-height: rem(21);
}

// Small Med-12-150%
%small-text-med {
    @extend %medium;
    font-size: rem(12);
    line-height: rem(18);
}

// Small Reg-12-150%
%small-text-regular {
    @extend %regular;
    font-size: rem(12);
    line-height: rem(18);
}
