<template>
  <div id="app modal--visible">
    <LP-Navigation/>
    <main>
      <LP-Header/>
      <LP-Over-Sect/>
      <LP-How-It-Work/>
      <LP-Contact/>
    </main>
    <LP-Footer/>
    <LP-ModalSuccess/>
  </div>
</template>

<script>
import LPNavigation from "@/components/LP/LP-Navigation.vue";
import LPHeader from "@/components/LP/LP-Header.vue";
import LPOverSect from "./components/LP/LP-Over-Sect";
import LPHowItWork from "./components/LP/LP-How-It-work";
import LPContact from "./components/LP/LP-Contact";
import LPFooter from "./components/LP/LP-Footer";
import LPModalSuccess from "./components/LP/LP-Modal-success";
export default {
  name: 'App',
    components: {LPModalSuccess, LPFooter, LPContact, LPHowItWork, LPOverSect, LPHeader, LPNavigation},
}
</script>

<style lang="scss">
  #app {
    @extend %bg-reset;
    background-position: top center;
    background-image: url($img_dir + 'main-bg.svg');
  }
  .modal--visible {
    .c-nav__btn {
      span {
        display: none;
      }
    }
  }
  @include bp(1500px) {

  }
  @include bp(1150px) {
    #app {
      /*background-size: contain;*/
    }
  }
</style>
