%base-btn {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  width: rem(187);
  height: rem(48);
  @extend %btn-semi;
  color: $black;
  background-color: $base_cta;
  border: 2px solid transparent;
  border-radius: 30px;
  &:hover {
    background-color: transparent;
    border-color: $base_cta;
  }
}